<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.customer.mappers.CustomerMapper">

    <select id="getListOfCustomer" parameterType="com.api.customer.model.request.SearchRequest" resultMap="result">
    SELECT 
        CUSTOMER.customer_id AS customer_id, CUSTOMER.first_name AS first_name, 
        CUSTOMER.last_name AS last_name, CUSTOMER.id_card_no AS id_card_no, 
        CUSTOMER.dob AS dob, CUSTOMER.phone AS phone, CUSTOMER.email AS email, 
        CUSTOMER.user_name AS user_name, CUSTOMER.status AS status,
        ADDRESS.street AS street,
        WARD.ward_id AS ward_id, WARD.ward_name AS ward_name, 
        DISTRICT.district_id AS district_id, DISTRICT.district_name AS district_name,
        PROVINCE.province_id AS province_id, PROVINCE.province_name AS province_name,
        NATIONALITY.nationality_id AS nationality_id, NATIONALITY.nationality_name AS nationality_name,
        OCCUPATION.occupation_id AS occupation_id, OCCUPATION.occupation_name AS occupation_name,
        CUSTOMER.married AS married, CUSTOMER.passport_no AS passport_no,
        AGENCY.agency_id AS agency_id, AGENCY.agency_name AS agency_name
    FROM 
        CUSTOMER
        LEFT JOIN ADDRESS
            ON CUSTOMER.street = ADDRESS.street
        LEFT JOIN WARD
            ON ADDRESS.ward_id = WARD.ward_id
        LEFT JOIN DISTRICT
            ON ADDRESS.district_id = DISTRICT.district_id
        LEFT JOIN PROVINCE
            ON ADDRESS.province_id = PROVINCE.province_id
        LEFT JOIN NATIONALITY
            ON CUSTOMER.nationality_id = NATIONALITY.nationality_id
        LEFT JOIN OCCUPATION
            ON CUSTOMER.occupation_id = OCCUPATION.occupation_id
        LEFT JOIN AGENCY
            ON CUSTOMER.agency_id = AGENCY.agency_id       
    WHERE
        CUSTOMER.first_name LIKE '%${searchRequest.firstName}%' 
        OR 
        CUSTOMER.last_name LIKE '%${searchRequest.lastName}%' 
        OR 
        CUSTOMER.id_card_no LIKE '%${searchRequest.idCardNo}%'
        OR 
        CUSTOMER.dob BETWEEN #{searchRequest.dobStartDate} AND #{searchRequest.dobEndDate} 
        OR 
        CUSTOMER.phone = '{searchRequest.phone}' 
        OR 
        CUSTOMER.email = '${searchRequest.email}'
        OR 
        ADDRESS.street LIKE '%${searchRequest.street}%'
        OR
        WARD.ward_id = '${searchRequest.wardId}'
        OR
        DISTRICT.district_id = '${searchRequest.districtId}'
        OR
        PROVINCE.province_id = '${searchRequest.provinceId}'
        OR 
        AGENCY.agency_id = '${searchRequest.agencyId}'
        LIMIT #{searchRequest.itemPerPage} OFFSET #{searchRequest.page}
    </select>

    <select id="countCustomer" parameterType="com.api.customer.model.request.SearchRequest" resultMap="searchCount">
    SELECT 
        COUNT(*)
    FROM
        CUSTOMER 
        LEFT JOIN ADDRESS
            ON CUSTOMER.street = ADDRESS.street
        LEFT JOIN WARD
            ON ADDRESS.ward_id = WARD.ward_id
        LEFT JOIN DISTRICT
            ON ADDRESS.district_id = DISTRICT.district_id
        LEFT JOIN PROVINCE
            ON ADDRESS.province_id = PROVINCE.province_id
        LEFT JOIN NATIONALITY
            ON CUSTOMER.nationality_id = NATIONALITY.nationality_id
        LEFT JOIN OCCUPATION
            ON CUSTOMER.occupation_id = OCCUPATION.occupation_id
        LEFT JOIN AGENCY
            ON CUSTOMER.agency_id = AGENCY.agency_id        
    WHERE
        CUSTOMER.first_name LIKE '%${searchRequest.firstName}%' 
        OR 
        CUSTOMER.last_name LIKE '%${searchRequest.lastName}%' 
        OR 
        CUSTOMER.id_card_no LIKE '%${searchRequest.idCardNo}%'
        OR 
        CUSTOMER.dob BETWEEN #{searchRequest.dobStartDate} AND #{searchRequest.dobEndDate} 
        OR 
        CUSTOMER.phone = '{searchRequest.phone}' 
        OR 
        CUSTOMER.email = '${searchRequest.email}'
        OR 
        ADDRESS.street LIKE '%${searchRequest.street}%'
        OR
        WARD.ward_id = '${searchRequest.wardId}'
        OR
        DISTRICT.district_id = '${searchRequest.districtId}'
        OR
        PROVINCE.province_id = '${searchRequest.provinceId}'
        OR 
        AGENCY.agency_id = '${searchRequest.agencyId}' 
    </select>

    <select id="getDetailOfCustomer" parameterType="int" resultMap="result">
    SELECT 
        CUSTOMER.customer_id AS customer_id, CUSTOMER.first_name AS first_name, 
        CUSTOMER.last_name AS last_name, CUSTOMER.id_card_no AS id_card_no, 
        CUSTOMER.dob AS dob, CUSTOMER.phone AS phone, CUSTOMER.email AS email, 
        CUSTOMER.user_name AS user_name, CUSTOMER.status AS status,
        ADDRESS.street AS street,
        WARD.ward_id AS ward_id, WARD.ward_name AS ward_name, 
        DISTRICT.district_id AS district_id, DISTRICT.district_name AS district_name,
        PROVINCE.province_id AS province_id, PROVINCE.province_name AS province_name,
        NATIONALITY.nationality_id AS nationality_id, NATIONALITY.nationality_name AS nationality_name,
        OCCUPATION.occupation_id AS occupation_id, OCCUPATION.occupation_name AS occupation_name,
        CUSTOMER.married AS married, CUSTOMER.passport_no AS passport_no,
        AGENCY.agency_id AS agency_id, AGENCY.agency_name AS agency_name
    FROM 
        CUSTOMER
        LEFT JOIN ADDRESS
            ON CUSTOMER.street = ADDRESS.street
        LEFT JOIN WARD
            ON ADDRESS.ward_id = WARD.ward_id
        LEFT JOIN DISTRICT
            ON ADDRESS.district_id = DISTRICT.district_id
        LEFT JOIN PROVINCE
            ON ADDRESS.province_id = PROVINCE.province_id
        LEFT JOIN NATIONALITY
            ON CUSTOMER.nationality_id = NATIONALITY.nationality_id
        LEFT JOIN OCCUPATION
            ON CUSTOMER.occupation_id = OCCUPATION.occupation_id
        LEFT JOIN AGENCY
            ON CUSTOMER.agency_id = AGENCY.agency_id        
    WHERE
        CUSTOMER.customer_id = #{customerId}  
    </select>

    <update id = "updateProfile" parameterType = "com.api.customer.model.request.UpdateRequest">
    UPDATE 
        CUSTOMER
        JOIN ADDRESS
            ON CUSTOMER.street = ADDRESS.street
        JOIN WARD
            ON ADDRESS.ward_id = WARD.ward_id
    SET
        CUSTOMER.customer_id = #{updateRequest.customerId},
        CUSTOMER.first_name = #{updateRequest.firstName},
        CUSTOMER.last_name = #{updateRequest.lastName},
        CUSTOMER.id_card_no = #{updateRequest.idCardNo},
        CUSTOMER.dob = #{updateRequest.dob},
        CUSTOMER.gender = #{updateRequest.gender},
        CUSTOMER.phone = #{updateRequest.phone},  
        CUSTOMER.email = #{updateRequest.email},
        ADDRESS.street = #{updateRequest.street},
        ADDRESS.ward_id = #{updateRequest.wardId},
        CUSTOMER.nationality_id = #{updateRequest.nationality},
        CUSTOMER.occupation_id = #{updateRequest.occupation},
        CUSTOMER.married = #{updateRequest.married},
        CUSTOMER.passport_no = #{updateRequest.passportNo}
    WHERE    
        CUSTOMER.customer_id = #{updateRequest.customerId}    
    </update>

    <update id = "batchUpdateCustomerStatus" parameterType = "com.api.customer.entities.CustomerEntity">
    UPDATE CUSTOMER
    SET
        status = #{status}
    WHERE
        customer_id = #{customerId}    
    </update>

    <delete id = "deleteCustomer" parameterType = "com.api.customer.entities.CustomerEntity">
    DELETE FROM CUSTOMER
    WHERE
        customer_id = #{customerId}    
    </delete>

    <resultMap id="searchCount" type="int">
        <id property = "itemCount" column = "count(*)"/>
    </resultMap>

    <resultMap id = "result" type = "com.api.customer.entities.CustomerEntity">
        <result property = "customerId" column = "customer_id"/>
        <result property = "firstName" column = "first_name"/>
        <result property = "lastName" column = "last_name"/>
        <result property = "idCardNo" column = "id_card_no"/>
        <result property = "dob" column = "dob"/>
        <result property = "phone" column = "phone"/>
        <result property = "email" column = "email"/>
        <result property = "userName" column = "user_name"/>
        <result property = "status" column = "status"/>
        <result property = "married" column = "married"/>
        <result property = "passportNo" column = "passport_no"/>
        <collection property="address" ofType="com.api.customer.entities.AddressEntity">
            <result property = "street" column = "street"/> 
            <collection property="ward" ofType="com.api.customer.entities.WardEntity">  
                <result property = "wardId" column = "ward_id"/>
                <result property = "wardName" column = "ward_name"/>
            </collection>
            <collection property="district" ofType="com.api.customer.entities.DistrictEntity">  
                <result property = "districtId" column = "district_id"/> 
                <result property = "districtName" column = "district_name"/> 
            </collection>
            <collection property="province" ofType="com.api.customer.entities.ProvinceEntity">  
                <result property = "provinceId" column = "province_id"/>
                <result property = "provinceName" column = "province_name"/>
            </collection>
        </collection>
        <collection property="nationality" ofType="com.api.customer.entities.NationalityEntity">  
            <result property = "nationalityId" column = "nationality_id"/>  
            <result property = "nationalityName" column = "nationality_name"/>
        </collection>
        <collection property="occupation" ofType="com.api.customer.entities.OccupationEntity">  
            <result property = "occupationId" column = "occupation_id"/>  
            <result property = "occupationName" column = "occupation_name"/>
        </collection>
        
        <collection property = "agency" ofType = "com.api.customer.entities.AgencyEntity">
            <result property = "agencyId" column = "agency_id"/>  
            <result property = "agencyName" column = "agency_name"/>
        </collection>
    </resultMap>

</mapper>
